ul li:last-child > .div .idd {
    display: none;
}

ul li:first-child > .div .iuu {
    display: none;
}

ul li:first-child > .div .i-r {
    display: none;
}
li {
    list-style: none;
}

button {
    border: 0px;
}

ul {
    width: 500px;
}