<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/icon/bootstrap-icons-1.9.1/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body class="bg-dark text-light">
<form id="form">
    <input type="text" id="Text">
    <button type="button" id="btn">click</button>
</form>

<div class="d-flex justify-content-center">
    <ul id="app" class="" style="width: 500px;"></ul>
</div>

<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/bootstrap.bundle.js"></script>
<script src="../assets/js/booz.js"></script>
</body>
</html>



